body {
    background-color: rgb(255, 175, 244);
}
img{
    width: 300px;
    height: 366px;
}
.container-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forcaEButton{
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-left: 38px;
    justify-content: space-between;
}       
.greenButton{
    width: 180px;
    height: 50px;
    background: #27AE60;
    border-radius: 8px;
    margin-top: 25px;
    margin-right: 153px;
}
.container-alfabeto{
    display: flex;
    width: 664px;
    height: 92px;
    flex-direction: column;
    margin-top: 120px;
}
.styleButtonAlfabeto{
    display: flex;
    width: 40px;
    height: 40px;
}
.a-m{
    display: flex;
    height: 40px;
    justify-content: space-around;
    margin-bottom: 11px;
}
.n-z{
    display: flex;
    height: 40px;
    justify-content: space-around;
}